/* .nav-tabs {border-bottom: 0;} */
.game-cover{height: 300px;width: 100%;object-fit: cover;border-radius: 4px;}
/* .tab-content{padding-top: 30px;}
.nav-tabs .nav-item:not(:last-child){margin-right: 10px;}
.nav-link {border-radius: 30px !important;font-size: 14px;border: 1px solid #e9ecef;color: #1ed287;} */
/* Product Card */
.game-card .card-body{padding: 15px;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {color: #fff;background-color: #1ed287; border-color: #1ed287 ;}
.game-title{font-weight: 600;margin: 15px 0px;}
.ratings .fa{color: #ffe216;}
.ratings{margin-bottom: 0;}
.cart-icon{position: relative;margin-left: 20px;}
.cart-icon .fa{font-size: 20px;color: #8a8a8a;}
.cart-count{font-size: 12px;width: 20px;height: 20px;display: flex;background: #1ed287;color: #fff;align-items: center;justify-content: center;border-radius: 50%;position: absolute;bottom: 14px;margin-left: 10px;}
.checkout-block{position: fixed;bottom: 0;background: #fff;right: 0;left: 0;text-align: center;padding: 20px;box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);}
.checkout-block .btn-primary{font-size: 16px;text-transform: capitalize;display: flex;align-items: center;margin: 0 auto;border-radius: 30px;padding: 6px 15px;}
.checkout-block .btn-primary i{font-size: 20px;margin-left: 9px;}


/* Sort Order */
.sort-order .custom-radio:not(:last-child){margin-right: 10px;}
.sort-order .custom-radio{margin-top: 3px;}

/* Product Slider */
/* :host ::ng-deep .owl-theme .owl-nav,
:host ::ng-deep .owl-theme .owl-nav [class*=owl-]{display: flex;justify-content: center;}

:host ::ng-deep .owl-theme .owl-nav [class*=owl-] {color: #1ed287;font-size: 20px;background: #fff;align-items: center;border-radius: 50%;width: 40px;height: 40px;border: 1px solid #1ed287;}
:host ::ng-deep .owl-theme .owl-nav [class*=owl-]:hover {background: #1ed287;color: #FFF;} */
.search-box .form-control{padding-left: 35px;font-size: 14px;}
.search-box .form-control:focus{border-color: #1ed287;box-shadow: none;}
.search-box:before{content: '\f002';font-family: 'FontAwesome';position: absolute;top: 7px;left: 13px;color: #696969;}


@media(max-width:991px){
  .game-cover{height: 240px;}
}
@media(max-width:767px){
  .game-cover{height: auto;}
  .game-card {max-width: 290px;margin: 0 auto;  }
  .game-title-added{flex: 0 0 100%;}
  .games-details h4{font-size: 18px;}
  .btn-danger {margin-top: -20px;}
}

@media(max-width:360px){
  .custom-control {padding-left: 0;}
  .custom-control-label {font-size: 12px; padding-left: 18px;}
  .custom-control-label::before,.custom-control-label::after {top: 2px;left: 0;width: 13px;height: 13px;}
}

