<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top " (voted)="onVoted($event)">
  <div class="container"> 
    <div class="nav-header">
      <a class="navbar-brand" href="#"><img src="assets/img/console.svg" width="40"> Game Zone</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="checkout">Check Out</a>
        </li>         -->
      </ul>
    </div>
  </div>
</nav>
<div><router-outlet></router-outlet></div>
asd